*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--colorSecondary);
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --colorPrimary: #E2B9FF;
    --colorSecondary: #7D2089;
    --colorHover: #7d20898d;
    --colorHoverWhite:#f0f0f0;
    --colorWhite: #FFF;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    background-color: var(--colorPrimary);
}
.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 100px;
    max-width: 200px;
}
.header-logo{
    width: 50px;
    height: 50px;
}
.header-logo > img{
    width: 100%;
    height: 100%;
}
.header-text{
    color: var(--colorSecondary);
}

.header-profile-img{
    width: 45px;
    height: 45px;
}
.header-profile-img > img{
    width: 100%;
    height: 100%;
}

.main-home{
    margin: 10px auto;
    padding: 10px 120px;

    min-width: 240px;
    max-width: 800px;

}

.home-search{
    display: block;
    margin: auto;
    padding: 10px 22px 0px 20px;
    min-width: 200px;
    max-width: 600px;
}
#home-searchbar{
    border: 3px solid var(--colorPrimary);
    border-radius: 3px;
    display: block;
    margin: auto;
    padding: 6px 15px;
    height: 65px;
    width: 100%;
}
#home-searchbar::-webkit-input-placeholder{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: var(--colorSecondary);
}

#home-searchbar:focus{
    outline: none;
}

@media (max-width: 780px) {
    .main-home{
        padding: 10px !important;
    }
    .home-menu{
        display: block !important;
        min-width: 350px !important;
        max-width: 700px !important;
    }
    .home-menu-itens{
        display: block !important;
        margin: 14px auto !important;
    }
    
}

.home-menu{
    margin: auto;
    min-width: 350px;
    max-width: 940px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    gap: 20px 0px;
    justify-content: center;
}
.home-menu-itens{
    background-color: var(--colorWhite);
    width: 260px;
    height: 200px;

    border: 4px solid var(--colorPrimary);
}
.home-menu-itens:hover{
    border: 4px solid var(--colorHover);
    background-color: var(--colorHoverWhite);
}
.itens-img{
    margin-left: 20%;
    position: relative;
    bottom: 10px;
    width: 160px;
    height: 160px;
}
.itens-img img{
    width: 100%;
    height: 100%;
}
.itens-text{
    position: relative;
    bottom: 10px;
    font-size: 24px;
    text-align: center;
}

footer{
    width: 100%;
    background-color: var(--colorPrimary);
    padding: 30px;
    text-align: center;
}
footer u{
    text-decoration: underline;
}
footer h1{
    font-size: 36px;
}
footer p{
    font-size: 20px;
}